<h3>Delete</h3>
@page "/AccesorioDelete"
@page "/AccesorioDelete/{AccesorioId:int}"
@inject HttpClient httpClient

<a href="Index">Index</a>


<EditForm Model="accesorios">
    <DataAnnotationsValidator />

    <div class="card-header">
        <h3>Accesorios</h3>
    </div>
    <div class="card-body">
        <div>
            <label>Accesorio Id:</label>
            <InputNumber @bind-Value="accesorios.AccesorioId" class="form-control" disabled></InputNumber>
            <ValidationMessage For="(() => accesorios.AccesorioId)"></ValidationMessage>
        </div>
        <div>
            <label>Descripcion:</label>
            <InputText @bind-Value="accesorios.Descripcion" class="form-control" disabled></InputText>
            <ValidationMessage For="(() => accesorios.Descripcion)"></ValidationMessage>
        </div>
    </div>
    <div class="card-footer">
        <div class="input-group">
            <a href="/AccesoriosIndex" class="btn btn-outline-danger bi bi-house-door-fill">Volver</a>
            <button type="button" class="btn btn-outline-danger bi bi-floppy-fill" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int AccesorioId { get; set; }

    public Accesorios accesorios = new Accesorios();

    protected override async Task OnInitializedAsync()
    {
        if (AccesorioId != 0)
        {
            var encontrado = await httpClient.GetFromJsonAsync<Accesorios>("api/Accesorios/" + AccesorioId);
            if (encontrado != null)
            {
                accesorios = encontrado;
            }
        }
    }

    public async Task Eliminar()
    {
        var elimino = await httpClient.DeleteAsync("api/Accesorios/" + AccesorioId);
        accesorios = new Accesorios();
    }
}
