@page "/"

<PageTitle>Home</PageTitle>

<h1>Segundo Parcial de Aplicada 1</h1>

Pedro Vladimir Guzman Salazar - (2021-0071)
<div class="mt-2">
    <a class="btn btn-outline-primary" href="AccesoriosIndex">Accesorios</a>
</div>
<div class="mt-2">
    <a class="btn btn-outline-secondary" href="VehiculoIndex">Vehiculos</a>
</div>